Service References/BlogService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/BlogService/BlogService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlogService" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlogService" minOccurs="0" name="GetPostResult" nillable="true" type="q1:Post" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BlogService" minOccurs="0" name="request" nillable="true" type="q2:UpdatePostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BlogService" minOccurs="0" name="UpdatePostResult" nillable="true" type="q3:UpdatePostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BlogService" minOccurs="0" name="request" nillable="true" type="q4:CreatePostRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BlogService" minOccurs="0" name="CreatePostResult" nillable="true" type="q5:CreatePostResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>