Service References/BlogService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlogService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlogService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PostFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostFault" nillable="true" type="tns:PostFault" />
  <xs:complexType name="Post">
    <xs:sequence>
      <xs:element minOccurs="0" name="PostContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PostId" type="xs:int" />
      <xs:element minOccurs="0" name="PostTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowVersion" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="UpdatePostRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatePostRequest" nillable="true" type="tns:UpdatePostRequest" />
  <xs:complexType name="UpdatePostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatePostResponse" nillable="true" type="tns:UpdatePostResponse" />
  <xs:complexType name="CreatePostRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePostRequest" nillable="true" type="tns:CreatePostRequest" />
  <xs:complexType name="CreatePostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Post" nillable="true" type="tns:Post" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreatePostResponse" nillable="true" type="tns:CreatePostResponse" />
</xs:schema>